# Basis-Einstellungen
-dontshrink
-dontoptimize
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,*Annotation*,EnclosingMethod

# WICHTIG: Den Launcher und die App-Klasse nicht umbenennen!
-keep public class SEG11.IFE_Entertainment.Launcher {
    public static void main(java.lang.String[]);
}

-keep public class SEG11.IFE_Entertainment.App {
    public *;
}

# JavaFX-Klassen schützen
-keep class * extends javafx.application.Application
-keepclassmembers class * extends javafx.application.Application {
    public *;
}

# Controller-Methoden und Felder für FXML-Injection schützen
-keepclassmembers class * {
    @javafx.fxml.FXML *;
}

# Warnungen ignorieren
-dontwarn **
